@use 'variables.module' as variables;

// @tailwind base;
// @tailwind components;
// @tailwind utilities;
// @import '~bootstrap/scss/bootstrap';


:root {
  --primary-color:purple;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: variables.$primary-color;
 
}
.input-field{
  border:1px solid #000;
  width:100%; 
   padding: 8px;
   margin-bottom: 30px;
}
.btn-lgn{
  border:1px solid #000;
  background-color: blue;
  color:#fff;
  padding: 15px;
  width:200px;
  cursor:'pointer';
}

.flex-area{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:50px;
  margin-top: 50px;
}
a{
  cursor: pointer;
  color:blue
}
.flex-area span{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.loader{display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;}

  .upload-btn{
    border: 2px solid blue;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    
    
  }
  
  .up_loader{display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  
  }